.card {
  margin-bottom: 20px;

  background-color: #eeeeee;
  border-radius: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.card:first-of-type .card__link {
  height: 275px;
}

.card__link {
  display: flex;
  height: 290px;
  padding: 15px 20px 20px;
  flex-direction: column;

  color: initial;
  text-decoration: none;
}

.card__number {
  margin: 0;
  margin-top: auto;

  color: #838383;
  font-weight: 300;
  line-height: 20px;
}

