.catalog {
  padding: 120px 15px;
}

.catalog__title {
  width: 270px;
  margin-bottom: 20px;
}

.catalog__text {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 300;
}

.catalog__link {
  margin-bottom: 40px;
}
