.footer-contacts {
  padding: 30px 0;

  background-image: url("../../img/logo-background-footer-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% 201px;
}

.footer-contacts__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.footer-contacts__item {
  margin-bottom: 20px;
}

.footer-contacts__item a {
  color: #292d32;
  text-decoration: none;
}

.footer-contacts__title {
  margin: 0;

  line-height: 20px;
}

.footer-contacts__text {
  margin: 0;

  color: #292d32;
}
