.link {
  position: relative;

  display: flex;
  height: 45px;
  padding-left: 60px;
  align-items: center;

  color: #292d32;
  line-height: 30px;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 45px;
    height: 45px;

    background-color: #33a9ff;
    background-image: url("../../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

  &--button {
    color: #ffffff;
    font-family: $main-fonts;
    line-height: 30px;

    background-color: transparent;
    border: none;
  }
}
